@use '../utils'as u;

.main__card {
    padding: u.rem(26) u.rem(32) u.rem(32);
    border-radius: u.rem(7);
    margin-bottom: u.rem(24);

    .excerpt {
        font-size: u.rem(20);
        line-height: u.rem(24);
        font-weight: u.fontWeight(semiBold-600);
        margin: u.rem(18) 0 u.rem(16);
    }

    .desc {
        line-height: u.rem(18);
        opacity: .7;
    }

    h2 {
        font-size: u.rem(13);
        line-height: u.rem(13);
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: u.rem(37) u.rem(17) 1fr;
    }
}

.main__card--daniel {
    background-color: var(--moderate-violet);
    background-image: url(../../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right u.rem(24);

    .profile__pic {
        border: solid u.rem(2) #A775F1;
    }

    .excerpt {
        margin-bottom: u.rem(40);
    }
}

.main__card--jonathan {
    background-color: var(--dark-grayish-blue);
}

.main__card--jeanette {
    background-color: var(--white);
}

.main__card--patrick {
    background-color: var(--dark-blackish-blue);

    .profile__pic {
        border: solid u.rem(2) #A775F1;
    }
}

.main__card--kira {
    background-color: var(--white);
}

.color-light {
    color: var(--white);
}

.verified {
    display: block;
    opacity: .5;
    font-size: u.rem(11);
    line-height: u.rem(11);
    
}

.color-dark {
    color: var(--dark-grayish-blue);
}

.profile__pic {
    grid-row: 1 / 3;
    border-radius: 50%;
}

.title-offset {
    grid-column: 3;
    align-self: center;
}

.verified-offset {
    grid-column: 3;
    align-self: center;

}